<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

  <nav>

    <a href="/">Home</a>
    {{#if isConnected}}
    <a href="/users/user-profiles">User Profile</a>

      {{#if isBoss}}
      <a href="/users/signup">Add User</a>
      {{/if}}
      
      {{#if isTAorBoss}}
      <a href="/users/course-overview">Course Overview</a>
      {{/if}}

    <a href="/auth/logout">Logout</a>

    {{else}}
    <a href="/auth/login">Login</a>
    {{!-- Only Boss is supposed to be able to add people --}}
    {{!-- <a href="/auth/signup">Signup</a> --}}
   
    {{/if}}

  </nav>

  <p> Signed in as: {{user.username}}, {{user.role}}</p>

  

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>